.Dashboard{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightsidebar{
    width: 25%;
    height: 95vh;
    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;


}

.feed{
    width: 40%;
    height: 95vh;
    background-color: rgb(218, 218, 218)

}

.leftsidebar{
    width: 25%;
    height: 95vh;
    background-color: rgb(218, 218, 218)
}

.linkholder{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    gap: 15px;
}